<div class="footer-wrapper">
    <div class="sitemap-container">
      <div class="sitemap-body">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <p>Contact</p>
            <span>contact@addinn.com</span>

          </div>
          <div class="col-sm-4 col-md-4">
            <p>Suivez Nous</p>

            <span>Facebook</span>
            <br />
            <span>LinkedIn</span>
            <br />
            <span>Twitter</span>
          </div>
          <div class="col-sm-4 col-md-4">
            <p>Mentions Légales</p>

            <span>Cookie Policy</span>
            <br />

            <span>© 2022 Addinn. All Rights Reserved</span>
          </div>
        </div>
      </div>
    </div>
    <div class="newslettr-container">
      <div class="newsletter-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="43"
          height="46"
          fill="white"
          class="bi bi-envelope-open"
          viewbox="0 0 16 16"
        >
          <path
            d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"
          />
        </svg>
      </div>
      <div class="newslettr-header">
        <h3>S’abonner À notre Newsletter</h3>
      </div>
      <div class="newslettr-body">
        <p>
          L’INSPIRATION ET L’INNOVATION VIENNENT EN FAIBLE DISPONIBILITÉ.<br />
          Recevez des nouvelles sur nous, directement dans votre boîte de
          réception.
        </p>
        <div class="row">
          <div class="col-sm-8 col-md-8">
            <div class="form-group">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="form-group">
              <input
                type="submit"
                name="submit"
                id="submit2"
                class="btn btn-primary"
                value="S'inscrire"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
