<div class="postsListsWrapper">
    <app-header></app-header>
    <div class="filter-container">
        <div class="container">
            <div class="filter-row row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Mots Clés" id="keyword" />
                    </div>
                </div>
                <div class="col-sm-2 label">
                    <label for="exampleFormControlSelect1"> Département : </label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group select-input">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Toutes les catégories</option>
                            <option>Développement Back End</option>
                            <option>Développement Front End</option>
                            <option>Développement mobile</option>
                            <option>Finance</option>
                            <option>Marketing</option>
                            <option>Ressources Humains</option>
                            <option>DevOps</option>
                            <option>Data</option>
                            <option>Test et validation</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 label">
                    <label for="exampleFormControlSelect2 "> Location: </label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group select-input">
                        <select class="form-control" id="exampleFormControlSelect2">
                            <option>Toutes les catégories</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <button class="btn btn-primary">Recherche</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-center-container">
        <div class="postsList-container">
            <div class="title-container">
                <span>POSTES DISPONIBLES</span>
            </div>

            <div class="postsList-list-container" *ngFor="let offre of offres">
                <div class="postsList-row row">
                    <div class="postsList-card col-sm-12">
                        <div class="postsList-card-body row">
                            <div class="col-sm-1">
                                <div class="icon-box">
                                    <mat-icon>work</mat-icon>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="postsList-name">
                                    <ul>
                                        <li class="titel">
                                            <span>{{offre.nomOffre}}</span>
                                        </li>
                                        <li>
                                            <span>{{offre.competences_techniques}}</span>
                                        </li>
                                        <li class="available">
                                            <span>Disponible</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="postsList-requirment">
                                    <ul>
                                        <li class="titel">
                                            <span>{{offre.type_contrat}}</span>
                                        </li>
                                        <li class="delay">
                                            <span>{{offre.salaire}} DT</span>
                                        </li>
                                        <li>
                                            <span>{{offre.pays}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2 offset-sm-1">
                                <div class="btn btn-primary">
                                    <div class="show-more">
                                        <span><button class="btn btn-primary" [routerLink]="['/FichePoste',offre.offreID]"> Voir Plus</button></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <nav aria-label="..." style="background: none" class="paginations">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <span class="page-link">
                                    2
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <app-footer></app-footer>
        </div>